<style lang="scss">
    :global(html, body, body main) {
        height: 100%;
        width: 100%;
        padding: 0;
        margin: 0;
    }
    main {
        div.splitpanes {
            height: 100%;
            width: 100%;
        }
    }
</style>

<svelte:head>
    <title>RobustDict: the robust dictionary</title>
</svelte:head>

<Splitpanes>
	<Pane minSize={20}>1<br /><em class="specs">I have a min width of 20%</em></Pane>
	<Pane>
		<Splitpanes horizontal={true}>
			<Pane minSize={15}>2<br /><em class="specs">I have a min height of 15%</em></Pane>
			<Pane>3</Pane>
			<Pane>4</Pane>
		</Splitpanes>
	</Pane>
	<Pane>5</Pane>
</Splitpanes>

<script lang="ts">
    import { Pane, Splitpanes } from 'svelte-splitpanes';
</script>